:root {
  --color-gr: #95e1d3;
  --color-r: #f38181;
  --color-b: #333333;
  --color-g: #999999;
  --font-1: "Montserrat", sans-serif;
  --font-2: "Roboto", sans-serif;
  --font-3: "Kaushan Script", cursive;
}
